*{
    position: relative;
    
}
.home-container {
    display: block;
    width:80%;
    height:auto;
    margin:10px auto;
    border:2px solid;
    padding:10px;
    align-content: center;
}

.home-img{
    display: block;
    width:175px;
    height:175px;
    border:6px solid;
    border-radius:50%;
}

.name-address{
    text-align: center;
    margin:0;    
    text-decoration: none;
}

.linkedin,.linkedin a:link{
    text-align: center;    
    margin:0;
    color: green;
}


.linkedin a:visited{
    text-align: center;
    margin:0;
    color: green;
}
